<div class="container">

  <div class="row row-centered">
    <div class="col-xs-12 col-centered" id="list">

      <h1><%= @sector.name %></h1>
      <h3><%= @sector.location %></h3>

      <div class="card">
        <p><%= @sector.description %></p>
        <p> <strong> Access: </strong> <%= @sector.access %> <br> <strong> Access time: </strong> <%= @sector.access_time %></p>
      </div>



      <%= link_to "Download guide", "/#{@area.id}_#{@sector.id}.pdf", class:"btn btn-default" %>

      <div class="card">
        <h3>Upload a guide for this sector</h3>
        <%= form_for([@area, @sector], html: { multipart: true }) do |f| %>
          <p>
            <%= f.label :document %>
            <%= f.file_field :document %>
          </p>
          <p><%= f.submit %></p>
        <% end %>
      </div>


      <%= link_to "<< Back to #{@area.name}", area_path(@area), class:"btn btn-default" %>
      <%= link_to "Home", areas_path, class:"btn btn-default" %>

    </div>
  </div>
</div>

