<div class="container">

<div class="row row-centered">

  <div class="col-xs-12 col-md-5 pull-left">
  <div id="list">
    <p>
    <h1>Climbing Areas</h1>
        <% @areas.each do |area| %>
          <ul class = "list-group">
            <li class = "list-group-item"><a href= "<%= area_path(area) %>"> <%= area.name %></a>
              <!-- <span class="badge btn btn-default traveltime"></span> -->
              <span class="badge btn btn-default navigate"><%= area.distance %>km</span>
            </li>
          </ul>
        <% end %>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort by
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Current Weather</a></li>
        <li><a href="#">Travel Time</a></li>
        <li><a href="#">Difficulty of Routes</a></li>
        <li><a href="#">Sector Orientation</a></li>
      </ul>
    </div>
    </p>
  </div>
  </div>

  <div class="col-xs-12 col-md-7 pull-right">
    <div id="geolocation"></div>
  </div>
</div>

<% content_for(:before_js) do %>
  <%= javascript_tag do %>
    var markers = <%= raw @markers.to_json %>;

    var lat = <%= @lat %>;
    var lng = <%= @lng %>;



    var image_icon = "<%= image_url "climber_icon.png" %>";
  <% end %>
<% end %>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
      $(document).on('ready', function() {
        var mapOptions = { mapTypeId: google.maps.MapTypeId.SATELLITE };
        var handler = Gmaps.build('Google');

        var myPositionMarker = {
            lat: lat,
            lng: lng,
            infowindow: 'Your location',
            picture: {
              url: image_icon,
              width: 36,
              height: 36
            }
          };


          markers.push(myPositionMarker);

        handler.buildMap({
          provider: mapOptions,
          internal: {id: 'geolocation'}}, function() {
          var markersHandled = handler.addMarkers(markers);

        $.each(markers, function (index, marker) {
         google.maps.event.addListener(marker, 'click', function(event) {
            console.log(marker);
            console.log(event.latLng.lat());
            });
        });


        handler.bounds.extendWith(markersHandled);
        handler.fitMapToBounds();


        $('.navigate').click( function () {
        directionsDisplay.setMap(handler.getMap());
        });

        });

        var directionsDisplay = new google.maps.DirectionsRenderer();
        var directionsService = new google.maps.DirectionsService();

        function calcRoute() {
          var origin      = new google.maps.LatLng(lat, lng);
          var destination = new google.maps.LatLng(50.223735, 4.893465);
          var request = {
              origin:      origin,
              destination: destination,
              travelMode:  google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
            }
          });
        }

        calcRoute();
      });
    <% end %>
  <% end %>
</div>


