<div class="container">

  <div class="row bottom">

    <div class="col-xs-12 col-md-7 pull-left">
      <div id="list">
      <p>
        <h1><%= @area.name %></h1>

        <div class="row">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><%= @temperature %></td>
                <td><%= @pressure %></td>
                <td><%= @condition %></td>
                <td><%= image_tag "sunrise.png", class:"icon" %><%= @sunrise %> </td>
                <td><%= image_tag "sunset.png", class:"icon" %><%= @sunset %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row card">
          <p><%= @area.description %></p>
        </div>

        <h2>Sectors</h2>
        <div>
          <ul class = "list-group">
            <% @area.sectors.each do |sector|%>
              <li class = "list-group-item"><%= link_to sector.name, area_sector_path(@area, sector) %></li>
            <% end %>
          </ul>
          <%= link_to new_area_sector_path(@area), class:"btn btn-default" do %>
            <i class="fa fa-plus"> Add sector </i>
          <% end %>
        </div>
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-5 pull-right">
      <div id="geolocation" class="card" style="width: 100%; height: 410px;"></div>
    </div>
  </div>

  <div class="row bottom">
    <div class="col-xs-12">
    <h2 style="color: #333333;">Pictures</h2>
    <i class="fa fa-plus"></i>
          <% @area.pictures.sample(4) do |pic| %>
            <div class="col-xs-12 col-sm-3 pictures">
              <%= image_tag pic.picture.url %>
            </div>
          <% end %>
<!-- add this to a modal/ pop-up window on clicking plus symbol next to heading -->
          <%= form_for [@area, @area.pictures.new] do |f| %>
          <p>
           <%= f.label :picture %>
           <%= f.file_field :picture %>
          </p>
          <p> <%= f.submit %> </p>
          <% end %>
    </div>
  </div>

  <div class="row bottom">
    <div class="col-xs-12">
      <table class="table table-striped" id="user_chat" data-current_user="<%= current_user.id %>" data-area_id="<%= @area.id %>">
         <h2 style="color: #333333;">Need a buddy?</h2>
          <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index +=1 %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "Open chat", "#", class: "btn btn-success btn-xs start-conversation",
                          "data-sid" => current_user.id, "data-rip" => user.id %>
            </td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>

<% content_for(:before_js) do %>
  <%= javascript_tag do %>
    var markers = <%= raw @markers.to_json %>;
    var lat = <%= @area.latitude %>;
    var lng = <%= @area.longitude %>;
    var image_icon = "<%= image_url "climber_icon.png" %>";
  <% end %>
<% end %>


<% content_for(:after_js) do %>
<%= javascript_tag do %>
      $(document).on('ready', function() {
        var mapOptions = { mapTypeId: google.maps.MapTypeId.SATELLITE };
        var handler = Gmaps.build('Google');

        var myPositionMarker = {
            lat: lat,
            lng: lng,
            infowindow: 'Your location',
            picture: {
              url: image_icon,
              width: 36,
              height: 36
            }
          };

          <!-- markers.push(myPositionMarker); -->

        handler.buildMap({
          provider: mapOptions,
          internal: {id: 'geolocation'}}, function() {
          var markersHandled = handler.addMarker(myPositionMarker);
<!-- does not display any map nor error in Console -->
<!-- if I write addMarkers get error Uncaught RangeError: Maximum call stack size exceeded -->

        handler.bounds.extendWith(markersHandled);
        handler.fitMapToBounds();
        });
      });
    <% end %>
  <% end %>


</div>


