
<h1><%= @area.name %></h1>
<p><%= @area.description %></p>

<h3> Current temperature in <%= @area.name %> </h3>
<%= @weather.current.temperature %>

<h2>Sectors</h2>
  <ul>
    <% @area.sectors.each do |sector|%>
    <li><%= link_to sector.name, area_sector_path(@area, sector) %></li>
    <% end %>
  </ul>


<br>

<%= link_to "Home", areas_path, class:"btn btn-default" %>
<!-- You can't put a regular HTML-button in here or you need to append
 javascript to trigger the linking-action. Hence, you make a ERB link which you
 format as a button   -->
