<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-md-6 pull-left">
      <h1><%= @area.name %></h1>

      <div class="row real-time">
        <ul class = "list-inline">
          <li><%= @weather.current.temperature %></li>
          <li><%= @weather.current.pressure %></li>
          <li><%= @weather.current.condition %></li>
          <li><%= @weather.current.sun.rise.strftime('%I:%M:%S %p') %> </li>
          <li><%= @weather.current.sun.set.strftime('%I:%M:%S %p') %></li>
        </ul>
      </div>

      <div class="row description">
        <p><%= @area.description %></p>
      </div>


      <h2>Sectors</h2>
      <div id="list">
        <ul>
          <% @area.sectors.each do |sector|%>
            <li><%= link_to sector.name, area_sector_path(@area, sector) %></li>
          <% end %>
        </ul>
        <%= link_to new_area_sector_path(@area), class:"btn btn-default" do %>
          <i class="fa fa-plus"> Add a sector for <%= @area.name %> </i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-10"><h2>Pictures</h2></div>
      <div class="col-xs-2"><i class="fa fa-plus"></i></div>
    </div>
          <% @area.pictures.sample(4) do |pic| %>
            <div class="col-xs-12 col-sm-3 pictures">
              <%= image_tag pic.picture.url %>
            </div>
          <% end %>
<!-- add this to a modal/ pop-up window on clicking plus symbol next to heading -->
          <%= form_for [@area, @area.pictures.new] do |f| %>
          <p>
           <%= f.label :picture %>
           <%= f.file_field :picture %>
          </p>
          <p> <%= f.submit %> </p>
          <% end %>
    </div>
  </div>

<br>

  <%= link_to "Home", areas_path, class:"btn btn-default" %>

</div>
