<!DOCTYPE html>
<html>
<head>
  <title>Crimpr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= javascript_include_tag "hotjar" %>
</head>
<body id="<%= on_homepage? ? 'homepage' : 'non-homepage' %>">

  <%= render "shared/navbar" %>

  <%= yield(:before_js) %>

  <%= render "shared/notice" %>
  <%= render "shared/alert" %>

    <%= yield %>

  <!-- browser API key for autocomplete -->
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag "application" %>


  <%= yield(:after_js) %>

  <%#= render "shared/footer" %>

</body>
</html>
